name: AirBear Semgrep
on: [pull_request, workflow_dispatch]
permissions: { contents: read }
jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: returntocorp/semgrep-action@v1
        with: { config: "auto" }
