name: AirBear Trivy FS
on: [pull_request, workflow_dispatch, schedule]
permissions: { contents: read }
jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: "fs"
          format: "table"
          exit-code: "1"
          severity: "CRITICAL,HIGH"
